@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <link rel="stylesheet" href="styles.css">
    <!-- JavaScript para mostrar el contenido después de cargar -->
    <script>
        window.addEventListener('load', function () {
            document.getElementById('loader-container').style.display = 'none';
            document.getElementById('content').classList.remove('hidden');
        });

        function validarMensaje() {
            var mensaje = document.getElementById('mensaje').value;
            var regex = /^[a-zA-Z\s]+$/; // Expresión regular para permitir solo letras y espacios

            if (!regex.test(mensaje)) {
                document.getElementById('mensajeError').style.display = 'block';
                return false;
            }

            return true;
        }


    </script>

</head>


<body>
    <!-- Loader -->
    <div id="loader-container">
        <div class="loader"></div>
    </div>
    <!-- Loader -->

    <main id="content" class="hidden">

        <!-- espacio entre el navegador y el video -->
        <div class="esoacio1" id="ACCESS-JOB">
        </div>
        <!-- espacio entre el navegador y el video -->


        <section id="video">
            <div>
                <video autoplay muted loop id="video-background">
                    <source src="~/Content/Videos/job.mp4" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </section>


        <section id="nosotros">
            <div class="container body-content">
                <div class="ro"  >
                    <div class="col-sm-5 ">
                        <img src="~/Content/Imagenes/imagen1.jpg" class="imagen_imagen2" data-aos="fade-down-left">
                        <img src="~/Content/Imagenes/accessJob_logo.png" class="imagen_accessJob_logo2" data-aos="fade-down-left">
                    </div>
                    <div class="col-sm-7 ">
                        <p class="textoper2" data-aos="flip-down">
                            En AccesJob, entendemos la importancia de la seguridad y la gestión eficiente del tiempo en cualquier empresa.
                            Nuestro sistema de control de accesos está diseñado para proporcionar un seguimiento preciso de las
                            entradas y salidas de los usuarios, garantizando así un ambiente laboral seguro y productivo.

                        </p>
                    </div>
                </div>
            </div>
        </section>




        <div class="container body-content">

            <section id="servicios" class="fondoservi">

                <div class="fondo_T1">
                    SERVICIOS
                </div>

                <div class="row fondo_s" data-aos="slide-right">
                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p>
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                </div>

            </section>

        </div>


        <!--      <div class="container body-content">
            <section id="mesaAyuda">

                <div class="fondoPlanesyServicios">
                    <div class="fondo_T1">
                        PLANES Y SERVICIOS
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 mb-4 ">
                                <div class="contenedorservi rojo">
                                    <div class="text-center">
                                        <h4 class="gratis">Gratis</h4>
                                        <p class="">3 meses por lanzamiento</p>
                                        <h5 class="modulo">Módulo</h5>
                                        <p>
                                            Ingresos y egresos<br />
                                            Reportes<br />
                                            Pre-corte<br />
                                            Conciliación bancaria<br />
                                            Contabilidad básica<br />
                                            APP móvil
                                        </p>
                                        <div class="text-center botoncon">
                                            <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                        </div>

                                        <div style="padding: 10px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="contenedorservi verde">
                                    <div class="text-center">
                                        <h4 class="gratis">Mensualmente</h4>
                                        <p class="">$399.00</p>
                                        <h5 class="modulo">Módulo</h5>
                                        <p>
                                            Ingresos y egresos<br />
                                            Reportes<br />
                                            Pre-corte<br />
                                            Conciliación bancaria<br />
                                            Contabilidad básica<br />
                                            APP móvil
                                        </p>
                                        <div class="text-center botoncon">
                                            <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                        </div>
                                        <div style="padding: 10px;">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="contenedorservi azul">
                                    <div class="text-center">
                                        <h4 class="gratis">Anualmente</h4>
                                        <p class="">$3999.00</p>
                                        <h5 class="modulo">Módulo</h5>
                                        <p>
                                            Ingresos y egresos<br />
                                            Reportes<br />
                                            Pre-corte<br />
                                            Conciliación bancaria<br />
                                            Contabilidad básica<br />
                                            APP móvil
                                        </p>
                                        <div class="text-center botoncon">
                                            <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                        </div>

                                        <div style="padding: 10px;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>  -->


        <div class="container body-content">

            <section id="mesaAyuda">

                <div class=" fondo-guia">
                    <div class="fondo_T1">
                        MESA DE AYUDA
                    </div>
                    <div class="textog">
                        <h3>GUIA DE APOYO</h3>

                    </div>

                    <div class="container" data-aos="fade-down">
                        <div class="row ">
                            <div class="col-sm-12">
                                @* <div class="card GUIASRAPIDAS">
                                        <div class="card-body ">
                                            <h4 class="card-title textog">Guia rapida del manual de usuario App de ACCESS JOB pdf v2.0</h4>
                                            <a href="@Url.Action("ManualdeUsuario", "Home")" class="botonser" target="_blank">
                                                <img class="imppdf" src="~/Content/Imagenes/pdfdescarga.png" alt="Abrir PDF en nueva pestaña" />
                                            </a>
                                        </div>

                                    </div>*@
                                <div class="card GUIASRAPIDAS">
                                    <div class="card-body ">
                                        <h4 class="card-title textog">Guia rapida del manual de usuario App de ACCESS JOB pdf v2.0</h4>
                                        <img class="imppdf" src="~/Content/Imagenes/pdfdescarga.png" alt="Abrir PDF en nueva pestaña" />
                                        <a href="@Url.Action("ManualdeUsuario", "Home")" class="btn btn-primary botonser" target="_blank">Descargar</a>
                                    </div>
                                </div>

                            </div>
                            <!--<div class="col-sm-6">
                                <div class="card GUIASRAPIDAS">
                                    <div class="card-body ">
                                        <h4 class="card-title textog">Guia rapida del funcionamineto de la aplicasion de ACCESS JOB pdf v2.0</h4>
                                        <img class="imppdf" src="~/Content/Imagenes/pdfdescarga1.png" />-->
                            <!-- Agrega el enlace para descargar el Documento 2 -->
                            <!--<a href="@Url.Action("DescargarDocumento2", "Home")" class="btn btn-primary botonser ">Descargar</a>

                                    </div>
                                    <br />
                                </div>
                            </div>-->
                        </div>
                    </div>






                    <div class="textog ">
                        <h3>Videos De Apoyo</h3>

                    </div>
                    <div class="textog">
                      @*  <h4>Explican algo que todavía no sé qué es, pero lo hacen.</h4>*@

                    </div>

                    <div class="containerCards" data-aos="fade-right">

                        <div class="Card1">
                            <p class="category-description">
                                <span class="circle-pasos">1</span>

                                <a href="~/Content/Videos/video1.mp4" target="_blank" class="video-trigger">Ver video</a>
                                <div class="item">
                                    <video class="video-popup" controls>
                                        <source src="~/Content/Videos/video1.mp4" />
                                    </video>
                                </div>
                            </p>
                        </div>



                        <div class="Card2">
                            <p class="category-description">
                                <span class="circle-pasos">2</span>
                                <a href="~/Content/Videos/video1.mp4" target="_blank" class="video-trigger">Ver video</a>
                                <div class="item">
                                    <video class="video-popup" controls>
                                        <source src="~/Content/Videos/video1.mp4" />
                                    </video>
                                </div>
                            </p>
                        </div>

                        <div class="Card3">
                            <p class="category-description">
                                <span class="circle-pasos">3</span>
                                <a href="~/Content/Videos/video1.mp4" target="_blank" class="video-trigger">Ver video</a>
                                <div class="item">
                                    <video class="video-popup" controls>
                                        <source src="~/Content/Videos/video1.mp4" />
                                    </video>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div id="contacto-seccion"></div>
                </div>

            </section>
        </div>


        <div class="container body-content" data-aos="fade-up-right">

            <section id="contacto">
                <div class="contacto-content">
                    <div class="contenedor-izquierdo fondoc_contacto">
                        <div class="formulario ">
                            <h2 class="mensaje">Mensaje</h2>

                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                <label for="nombre">Nombre:</label>
                                <input type="text" placeholder="Nombre" id="nombre" name="nombre" required>

                                <label for="correo">Correo:</label>
                                <input type="email" placeholder="Correo" id="correo" name="correo" required>

                                <label for="telefono">Teléfono:</label>
                                <input type="tel" placeholder="Teléfono" id="telefono" name="telefono" required>

                                <div class="form-floating">
                                    <label for="mensaje">Mensaje:</label>
                                    <textarea class="form-control" placeholder="Mensaje" id="mensaje" style="height: 100px;" name="mensaje" required></textarea>
                                    <p id="mensajeError" style="color: red; display: none;">Solo letras y espacios.</p>
                                </div>

                                <button style="justify-content:center" type="submit" onclick="return validarMensaje()">Enviar <i class="bi bi-send-fill"></i></button>
                            }

                        </div>
                    </div>

                    <div class="contenedor-derecho">
                        <br>
                        <div class="redes-y-ubicacion">

                            <h2 class="titulo7">Redes Sociales</h2>
                        </div>
                        <br>
                        <div class="co ntenedor">
                            <button class="redes-button" onclick="window.open('https://www.facebook.com/ACCESSJOB.MX?mibextid=ZbWKwL', '_blank')">
                                <img src="~/Content/Imagenes/facebook1.png" alt="Facebook Logo" class="redes-logo">

                                <div class="vertical-line"></div>
                                <span class="redes-text">Facebook</span>
                            </button>
                            <br>
                            <button class="redes-button" onclick="window.open('https://www.youtube.com/channel/UCV-ABI1m4pDrZeJdd-dnckA ', '_blank')">
                                <img src="~/Content/Imagenes/Youtube1.png" alt="Instagram Logo" class="redes-logo">

                                <div class="vertical-line"></div>
                                <span class="redes-text">Youtube</span>
                            </button>
                            <br>


                        </div>
                        <br>
                        <br />
                        <div class="redes-y-ubicacion">
                            <h2 class="titulo7">Ubicacion</h2>
                        </div>
                        <br>
                        <div class="co ntenedor">
                            <button class="ubicacion-button posicioncentro" onclick="window.open('https://www.google.com/maps/place/Plaza+Perisur+Pachuca,+Av+Pirules,+Venta+Prieta,+42083+Pachuca+de+Soto,+Hgo.', '_blank')">
                                <span class="ubicacion-text">UBICACION</span>
                            </button>
                        </div>
                    </div>


                    @*<div class="contenedor-derecho">

                            <br>
                            <div class="redes-y-ubicacion">
                                <h2 class="titulo7">Ubicacion</h2>
                            </div>
                            <br>
                            <div class="co ntenedor">
                                <button class="ubicacion-button posicioncentro" onclick="window.open('https://www.google.com/maps/place/Plaza+Perisur+Pachuca,+Av+Pirules,+Venta+Prieta,+42083+Pachuca+de+Soto,+Hgo.', '_blank')">
                                    <span class="ubicacion-text">UBICACION</span>
                                </button>
                            </div>

                        </div>*@

                </div>
            </section>

        </div>


        <div class="whatsapp-float">
            <button class="redes-button" onclick="window.open('https://web.whatsapp.com/', '_blank')">
                <img src="~/Content/Imagenes/whatsapp1.png" alt="Facebook Logo">
            </button>
        </div>


    </main>

    <footer>
        <div class="imagec">
            <br />
            <img data-aos="flip-right" src="~/Content/Imagenes/accessJob_logo.png" alt="Logo" width="150" height="150">
        </div>
        <div class="privacidad">
            <span b-tor2i0xw71>©</span>
            <a href="https://ww.softhubmx.com" target="_blank" b-tor2i0xw71>2024 Access Job Pachuca</a>
            <span b-tor2i0xw71>  -  </span>
            <a href="https://ww.softhubmx.com/privacidad.html" target="_blank" b-tor2i0xw71>Aviso de Privacidad</a>
            <span b-tor2i0xw71>  -  </span>
            <a href="https://ww.softhubmx.com" target="_blank" b-tor2i0xw71>Terminos Legales</a>
        </div>
    </footer>

</body>
</html>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000
    });
</script>

