@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <link rel="stylesheet" href="styles.css">
    <!-- JavaScript para mostrar el contenido después de cargar -->
    <script>
        window.addEventListener('load', function () {
            document.getElementById('loader-container').style.display = 'none';
            document.getElementById('content').classList.remove('hidden');
        });
    </script>

</head>


<body>
    <!-- Loader -->
    <div id="loader-container">
        <div class="loader"></div>
    </div>



   

    <main id="content" class="hidden">
        <div class="esoacio1" id="ACCESS-JOB">
        </div>

        <section id="video">
            <div>
                <video autoplay muted loop id="video-background">
                    <source src="~/Content/Videos/job.mp4" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </section>


        <section id="nosotros">
            <div class="container body-content">
                <div class="row">
                    <div class="col-sm-5 ">
                        <img src="~/Content/Imagenes/imagen1.jpg" class="imagen_imagen2">
                        <img src="~/Content/Imagenes/accessJob_logo.png" class="imagen_accessJob_logo2">
                    </div>
                    <div class="col-sm-7 ">
                        <p class="textoper2">
                            Permite fichar al entrar y salir de la organización.
                            Es el más antiguo, sin embargo muchas empresas lo utilizan con un lector
                            de tarjetas para tener un mejor control de la asistencia
                        </p>
                    </div>
                </div>
            </div>
        </section>




        <div class="container body-content">

            <section id="servicios" class="fondoservi">

                <div class="fondo_T1">
                    SERVICIOS
                </div>

                <div class="row fondo_s">
                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p>
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>



                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <br />
                        <div class="card-body fondo_sec">
                            <h5 class="card-title" style="text-align: center;">Card title</h5>
                            <p class="card-text">
                                Permite fichar al entrar y
                                salir de la organización.
                                Es el más antiguo, sin
                                embargo muchas empresas
                                lo utilizan con un
                                lector
                                de tarjetas para tener un
                                mejor control de la asistencia.
                            </p>
                        </div>
                    </div>

                </div>

            </section>

        </div>


        <div class="container body-content">
            <div class="fondoPlanesyServicios">
                <div class="fondo_T1">
                    Planes y Servicios
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 mb-4 ">
                            <div class="contenedorservi rojo">
                                <div class="text-center">
                                    <h4 class="gratis">Gratis</h4>
                                    <p class="">3 meses por lanzamiento</p>
                                    <h5 class="modulo">Módulo</h5>
                                    <p>
                                        Ingresos y egresos<br />
                                        Reportes<br />
                                        Pre-corte<br />
                                        Conciliación bancaria<br />
                                        Contabilidad básica<br />
                                        APP móvil
                                    </p>
                                    <div class="text-center botoncon">
                                        <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                    </div>

                                    <div style="padding: 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="contenedorservi verde">
                                <div class="text-center">
                                    <h4 class="gratis">Mensualmente</h4>
                                    <p class="">$399.00</p>
                                    <h5 class="modulo">Módulo</h5>
                                    <p>
                                        Ingresos y egresos<br />
                                        Reportes<br />
                                        Pre-corte<br />
                                        Conciliación bancaria<br />
                                        Contabilidad básica<br />
                                        APP móvil
                                    </p>
                                    <div class="text-center botoncon">
                                        <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                    </div>
                                    <div style="padding: 10px;">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="contenedorservi azul">
                                <div class="text-center">
                                    <h4 class="gratis">Anualmente</h4>
                                    <p class="">$3999.00</p>
                                    <h5 class="modulo">Módulo</h5>
                                    <p>
                                        Ingresos y egresos<br />
                                        Reportes<br />
                                        Pre-corte<br />
                                        Conciliación bancaria<br />
                                        Contabilidad básica<br />
                                        APP móvil
                                    </p>
                                    <div class="text-center botoncon">
                                        <a href="http://20.254.40.196:9095" class="btn btn-primary btn-block botonser mx-auto">Suscribirse</a>
                                    </div>

                                    <div style="padding: 10px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container body-content">

            <section id="contacto">
                <div class="contacto-content">
                    <div class="contenedor-izquierdo fondoc_contacto">
                        <div class="formulario ">
                            <h2 class="mensaje">Mensaje</h2>
                            <form action="@Url.Action("SendData", "Home")" method="post">

                                <label for="nombre">Nombre:</label>
                                <input type="text" placeholder="nombre" id="nombre" name="nombre">

                                <label for="correo">Correo:</label>
                                <input type="email" placeholder="Correo" id="correo" name="correo">

                                <label for="telefono">Teléfono:</label>
                                <input type="tel" placeholder="Teléfono" id="telefono" name="telefono">

                                <div class="form-floating">
                                    <label for="mensaje">Mensaje:</label>
                                    <textarea class="form-control" placeholder="Mensaje" id="mensaje" style="height: 100px;" name="mensaje"></textarea>
                                </div>

                                <button style="justify-content:center" type="submit">Enviar <i class="bi bi-send-fill"></i></button>
                            </form>

                        </div>

                    </div>

                    <div class="contenedor-derecho">
                        <br>
                        <div class="redes-y-ubicacion">

                            <h2>Redes Sociales</h2>
                        </div>
                        <br>
                        <div class="contenedor">
                            <button class="redes-button" onclick="window.open('https://web.whatsapp.com/', '_blank')">
                                <img src="~/Content/Imagenes/facebook.png" alt="Facebook Logo" class="redes-logo">

                                <div class="vertical-line"></div>
                                <span class="redes-text">Facebook</span>
                            </button>
                            <br>
                            <button class="redes-button" onclick="window.open('https://web.whatsapp.com/', '_blank')">
                                <img src="~/Content/Imagenes/Instagram.png" alt="Instagram Logo" class="redes-logo">

                                <div class="vertical-line"></div>
                                <span class="redes-text">Instagram</span>
                            </button>
                            <br>

                            <button class="redes-button" onclick="window.open('https://web.whatsapp.com/', '_blank')">
                                <img src="~/Content/Imagenes/whatsapp.png" alt="Youtube Logo" class="redes-logo">

                                <div class="vertical-line"></div>
                                <span class="redes-text">whatsapp</span>
                            </button>
                        </div>
                        <br>
                        <br />
                        <div class="redes-y-ubicacion">
                            <h2>Ubicacion</h2>
                        </div>
                        <br>
                        <div>
                            <button class="ubicacion-button" onclick="window.open('https://www.google.com/maps/place/Plaza+Perisur+Pachuca,+Av+Pirules,+Venta+Prieta,+42083+Pachuca+de+Soto,+Hgo.', '_blank')">
                                <span class="ubicacion-text">https://urldra.cloud.huawei.com/oTEgLXeUQE</span>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </section>

        </div>

    </main>

        <footer>
            <div class="imagec">
                <br />
                <img src="~/Content/Imagenes/accessJob_logo.png" alt="Logo" width="150" height="150">
            </div>
            <div class="privacidad">
                <span b-tor2i0xw71>©</span>
                <a href="https://ww.softhubmx.com" target="_blank" b-tor2i0xw71>2024 Access Job Pachuca</a>
                <span b-tor2i0xw71>  -  </span>
                <a href="https://ww.softhubmx.com/privacidad.html" target="_blank" b-tor2i0xw71>Aviso de Privacidad</a>
                <span b-tor2i0xw71>  -  </span>
                <a href="https://ww.softhubmx.com" target="_blank" b-tor2i0xw71>Terminos Legales</a>
            </div>
        </footer>

</body>
</html>

