/*navegaccion*/


/*navegaccion*/




.toggle-menu {
    visibility: hidden;
}

#idMenu {
    background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
    /* background: linear-gradient(#ffffff, #ffffff); */
    width: 100%;
    height: 90px;
    z-index: 100;
}


    #idMenu .ajuste-logo {
        width: 100%;
        margin-left: 150px;
        /* Ajustar el logo mas a la derecha */
    }

    #idMenu .navbar {
        top: 12px;
        padding: 10px;
        left: 150px;
    }


    #idMenu p {
        font-size: 50px;
        color: red;
    }

    #idMenu h3 {
        font-family: "cabecera";
        color: #000000;
        font-size: 18px;
        justify-content: center;
        text-transform: capitalize;
    }

    /* DBC9A5 claro y  BD9350 fuerte*/
    #idMenu .active {
        background-color: BD9350;
    }










/********Pantallas 768px*********/
@media only screen and (min-width: 380px) and (max-width: 1020px) {
    body {
        padding-bottom: 0;
        right: 0;
        color: #fff;
    }

    #idMenu .ajuste-logo {
        position: fixed;
        width: 3%;
        margin-top: 14px;
    }

    .toggle-menu {
        position: fixed;
        visibility: visible;
        right: 20px; /* Ajusta la posición inicial a la derecha */
        top: 20px;
        border-radius: 5px 5px 5px 5px;
    }

    .navbar-toggler {
        visibility: hidden;
    }
}


/********Pantallas 360px*********/
@media only screen and (min-width: 360px) and (max-width: 380px) {
    body {
        padding-bottom: 0;
        right: 0;
        color: #fff;
    }

    #idMenu .ajuste-logo {
        position: fixed;
        width: 3%;
        margin-top: 14px;
    }

    .toggle-menu {
        position: fixed;
        visibility: visible;
        right: 20px; /* Ajusta la posición inicial a la derecha */
        top: 20px;
        border-radius: 5px 5px 5px 5px;
    }

    .navbar-toggler {
        visibility: hidden;
    }
 
}



