

.esoacio1 {
    padding: 36px;
}


@media (max-width: 768px) {
    .esoacio1 {
        padding: 0px;
    }
}

    @media only screen and (min-width: 768px) and (max-width: 1018px) {
        .esoacio1 {
            padding: 0px;
        }
    }

#content {
    margin-top: 0;
}


.container {
    width: 90%; /* Cambia el valor del ancho según tus necesidades */
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    /* También puedes ajustar el alto del contenedor si es necesario */
    /* height: 1000px; */
}


/* Establece la posición relativa, lo que significa que se posicionará con respecto a su posición original en el flujo del documento */
/* la base  de la pagina*/

footer {
    position: relative;
    /* Establece la altura del footer en 3 píxeles */
    height: 3px;
    /* Establece el ancho del footer al 100% del ancho disponible */
    width: 100%;
    /* Centra el contenido dentro del footer horizontalmente */
    text-align: center;
    /* Establece un relleno de 10 píxeles arriba y abajo y 0 a la izquierda y a la derecha */
    padding: 0px 0;
}
    footer .imagec {
        background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
/* la base  de la pagina*/



/* nostros apartado */

.imagen_imagen1 {
    max-width: 25%;
    height: auto;
}

@media (max-width: 768px) {
    .imagen_imagen1 {
        max-width: 100%;
        height: auto;
    }
}


.imagen_accessJob_logo {
    max-width: 15%;
    height: auto;
    padding-top: 80px; /* Espacio adicional arriba */

}

@media (max-width: 768px) {
    .imagen_accessJob_logo {
        max-width: 100%;
        height: auto;
        padding-top: 0px; /* Espacio adicional arriba */
    }
}


.textoper {
    padding-top: 100px; /* Espacio adicional arriba */
    color: #83d0f6;
    font-size: 25px;
}

@media (max-width: 768px) {
    .textoper {
        padding-top: 0px;
        color: #83d0f6;
        font-size: 15px;
    }
}

/* nostros apartado */






/* nostros apartado2 */

.imagen_imagen2 {
    max-width: 60%;
    height: auto;
    margin-top:-5px;
}

@media (max-width: 768px) {
    .imagen_imagen2 {
        max-width: 49%;
        height: auto;
    }
}


.imagen_accessJob_logo2 {
    max-width: 38%;
    height: auto;
    padding-left: 25px; /* Espacio adicional a la izquierda */
    padding-top: 10px; /* Espacio adicional arriba */
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 768px) {
    .imagen_accessJob_logo2 {
        max-width: 49%;
        height: auto;
        padding-top: 0px; /* Espacio adicional arriba */
    }
}



.textoper2 {
    padding-top: 50px;
    text-align: justify;
    color: #83d0f6;
    font-size: 24px;
}



@media (max-width: 767px) {
    .textoper2 {
        padding-top: 25px;
        text-align: justify;
        color: #83d0f6;
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 950px) {
    .textoper2 {
        padding-top: 4%; /* Espacio de relleno del 5% del ancho del contenedor */
        text-align: justify;
        color: #83d0f6;
        font-size: 14px;
    }
}
@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .textoper2 {
        padding-top: 4%; /* Espacio de relleno del 5% del ancho del contenedor */
        text-align: justify;
        color: #83d0f6;
        font-size: 18px;
    }
}






    



/* nostros apartado2 */






/*navegaccion*/
/* centrado de la imagen  */

@media only screen and (min-width: 1020px) and (max-width: 1271px) {
    .navbar-header .row {
        text-align: center; /* Alinea horizontalmente los elementos dentro de la fila */
    }

        .navbar-header .row img {
            max-width: 10%; /* Ajusta el ancho máximo de las imágenes para evitar que se desborden */
            height: auto; /* Mantiene la proporción de aspecto de las imágenes */
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
   
    .navbar-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

   
}




.logo_accessJob_imagoc {
    height: 90px;
    padding-top: 10px;
    padding-left: 30px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo_accessJob_logo {
    height: 70px;
    padding-top: 14px;
    padding-left: 0px;
    pointer-events: none;
    user-select: none;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #video-background {
        width: 100%;
        height: 50vh;
    }
}



.browser-layout {
    display: flex;
    height: 40px;
    margin-left: 10px; /* Espacio entre los elementos */
    border-width: 0px; /* Cambia el ancho del borde */
    border-radius: 18px 0px 0 0; /* Cambia el estilo del borde (en este caso, sólido) */
    background-color: #7ecdf4; /* Color de fondo azul */

    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente del texto */
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Esto deshabilitará la interacción y la selección en diferentes navegadores */
    cursor: default;
    /* Cambiar el cursor para que no parezca interactivo */
    overflow: hidden; /* Evita que el contenido se desborde del contenedor */
    
}

.blazul {
    background-color: #292c7e; /* Color de fondo azul */
    display: flex;
    height: 40px;
    margin-left: 10px; /* Espacio entre los elementos */
    border-width: 0px; /* Cambia el ancho del borde */
    border-radius: 5px 5px 5px 5px; /* Cambia el estilo del borde (en este caso, sólido) */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Color del texto */
    font-size: 25px; /* Tamaño de fuente del texto */
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Esto deshabilitará la interacción y la selección en diferentes navegadores */
    cursor: default;
    /* Cambiar el cursor para que no parezca interactivo */
    overflow: hidden; /* Evita que el contenido se desborde del contenedor */
}

.browser-layout_2 {
    text-decoration: none;
    padding-top: 10px;
    padding-right: 30px;
    justify-content: center;
}


.navbar-inverse .navbar-nav > li > a {
    color: white;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding: 23px;
    background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
}

.navegador_largo {
    width: 100%; /* Cambia el valor del ancho según tus necesidades */
    margin: auto; /* Esto centra el contenedor horizontalmente */
    /* También puedes ajustar el alto del contenedor si es necesario */
    /* height: 1000px; */
}

.navbar-inverse {
    border-color: navajowhite;
}

.fondoNv {
    background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
}


.imagenZ {
    width: 40%;
    height: 40%;
}

img {
    max-width: 100%;
    height: auto;
}

/*navegaccion*/




/*Planes y Servicios*/

.fondoservi {
    background-image: url('Imagenes/fondoservi.jpg');
    background-size: cover;
    color: #292c7e;
}

.fondoPlanesyServicios {
    background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
    background-size: cover;
    color: #292c7e;
}

.fondo_T1 {
    background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
    font-size: 100%;
    font-size: 50px; /* Tamaño de fuente del texto */
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .fondo_T1 {
        background: linear-gradient(to right,#7dcbf3, #6592cc, #4c55a1 );
        font-size: 100%;
        font-size: 33px; /* Tamaño de fuente del texto */
        color: #FFFFFF;
        text-align: center;
    }
}


.fondo_sec {
    background: #d8f0fc;
    padding-top: 20px; /* Espacio adicional arriba */
    padding-right: 20px; /* Espacio adicional a la derecha */
    padding-bottom: 20px; /* Espacio adicional hacia abajo */
    padding-left: 20px; /* Espacio adicional a la izquierda */
    text-align: justify;
}

.fondo_s {
    padding-right: 100px; /* Espacio adicional a la derecha */
    padding-left: 100px; /* Espacio adicional a la izquierda */
    padding-top: 0px; /* Espacio adicional arriba */
    padding-bottom: 16px; /* Espacio adicional hacia abajo */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 767px) {
    .fondo_s {
        padding-right: 10px; /* Espacio adicional a la derecha */
        padding-left: 10px; /* Espacio adicional a la izquierda */
    }
}

/*Planes y Servicios*/


.contenedor-derecho {
    color: white;
    background-image: url('Imagenes/fondocomentario.png');
    background-size: contain;
    border-radius: -4px;
    height: 532px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}



/* el color del fondo de comentarios*/
.fondoc_contacto {
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);

     

}

.contacto-content {
 
    display: flex;
    flex-wrap: wrap; /* Permite que los contenedores se envuelvan en pantallas pequeñas */
    justify-content: space-between;
    align-items: center; /* Centro verticalmente */
}


.contenedor-derecho {
   
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro horizontalmente */
    margin-bottom: 20px; /* Espaciado entre contenedores en pantallas pequeñas */
}


.contenedor-izquierdo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro horizontalmente */
    margin-bottom: 20px; /* Espaciado entre contenedores en pantallas pequeñas */
}




.formulario {
    max-width: 100%;
    margin-right: 2px;
    background-color: white;
    border-radius: 0px; /* Puntas redondeadas */
    padding: 20px;
    text-align: center;

   
}

    .formulario label {
        
        display: block;
        margin-bottom: 5px;
        color: black; /* Cambia el color de las letras a negro */
    }

    .formulario input,
    .formulario textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        width: 600px;
        height: 50px;
        box-sizing: border-box;
        border: 3px solid #b0dcf4; /* Borde negro */
        border-radius: 5px; /* Puntas redondeadas para los campos */
        color: #010609;
    }

@media screen and (max-width: 767px) {
    .formulario input,
    .formulario textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border: 3px solid #b0dcf4; /* Borde negro */
        border-radius: 5px; /* Puntas redondeadas para los campos */
        color: #b0dcf4;
    }
}





    .formulario button {
        background-color: #7ecdf4; /* Fondo negro */
        color: white; /* Texto blanco */
        padding: 10px 20px;
        border: none;
        border-radius: 5px; /* Puntas redondeadas para el botón */
        cursor: pointer;
    }

        .formulario button:hover {
            background-color: #333; /* Cambia el color al hacer hover */

        }


.redes-y-ubicacion {
    border-radius: 55px;
    width: 400px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    color: #0804dd;
}

.redes-button {
    border-color: #b0dcf4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    border-radius: 79px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 237px;
}

.redes-logo {
    width: 50px;
}

.vertical-line {
    height: 30px;
    width: 2px;
    background-color: #80ccf4;
    margin: 0 10px;
}

.redes-text {
    color: #80ccf4;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px; /* Ajusta la altura de línea según el tamaño de la imagen */
}

.ubicacion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: auto;
}

.ubicacion-text {
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    height: auto;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .redes-y-ubicacion {
        background-image: url('Imagenes/fondocomentario.png');
            border-radius: 40px;
        width: 90%; /* Modificado para que se adapte al ancho de la pantalla */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        text-align: center;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    }


    .ubicacion-button {
        width: 100%; /* Modificado para que se adapte al ancho de la pantalla */
        margin: 0 auto; /* Centra el botón horizontalmente */
        margin-bottom: 10px; /* Agrega margen inferior para separar los botones */
        padding: 15px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .redes-button {
        width: 100%; /* Modificado para que se adapte al ancho de la pantalla */
        margin: 0 auto; /* Centra el botón horizontalmente */
        margin-bottom: 5px; /* Agrega margen inferior para separar los botones */
        padding: 10px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .redes-logo {
        width: 40px; /* Modificado para adaptarse mejor al espacio */
    }

    .vertical-line {
        display: none; /* Oculta la línea vertical en pantallas pequeñas */
    }

    .redes-text {
        font-size: 14px; /* Ajusta el tamaño del texto para una mejor legibilidad */
        line-height: 20px; /* Ajusta la altura de línea del texto */
    }


    .ubicacion-text {
        font-size: 12px; /* Ajusta el tamaño del texto para una mejor legibilidad */
        line-height: 20px; /* Ajusta la altura de línea del texto */
    }
}


.mensaje {
    text-align: center;
    color:  blue;
    font-weight: bold;
    top: -10px;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.7); /* Blanco con 30% de opacidad */
    width: 277px;
    height: 331px;
    padding: 20px;
    color: black;
}









/* Estilos para la sección de Planes y Servicios */

/* Estilo general para la sección de Planes y Servicios */
.planes {
    padding: 0; /* Elimina el relleno interior */
    text-align: center; /* Alinea el contenido al centro */
    margin-top: -10px; /* Mueve la sección hacia arriba */
}
.contornoser {
    padding-top: 10px; /* Espacio adicional arriba */
    padding-right: 10px; /* Espacio adicional a la derecha */
    padding-bottom: 10px; /* Espacio adicional hacia abajo */
    padding-left: 10px; /* Espacio adicional a la izquierda */
}
/* Estilo para el texto dentro de la sección */
.texto {
    background-image: linear-gradient(to right, #7ccff0, #76bae9, #6fa7d8, #6390c9, #5a74b8, #4c55a2); /* Gradiente de fondo */
    font-family: Arial, sans-serif; /* Familia de fuente */
    color: #FFFFFF; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-top: -20px; /* Mueve el texto hacia arriba */
    
}



/* Estilo para los cuadros de colores */


/* Estilos específicos para cada color de cuadro */
.contenedorservi {
    border-radius: 50px 0 0 0; /* Redondea solo la esquina inferior derecha */
    padding-top: 20px; /* Espacio adicional arriba */
    padding-right: 0px; /* Espacio adicional a la derecha */
    padding-bottom: 20px; /* Espacio adicional hacia abajo */
    padding-left: 0px; /* Espacio adicional a la izquierda */
    color: black;
    width: 100%; /* Ahora el ancho del cuadro se ajustará automáticamente */
    margin-bottom: 20px; /* Espacio entre cuadros */
    transition: margin-right 0.5s; /* Transición suave del margen derecho */
    font-size: 20px;
}

.rojo {
    background-color: #aaceec; /* Color de fondo rojo */
}

.verde {
    background-color: #9cb4dc; /* Color verde */
   
}

.azul {
    background-color: #959dcb; /* Color azul */ 
   
}

.modulo {
    color: #048cb2;
    font-size: 25px;
    padding-top: 25px; /* Espacio adicional arriba */
    padding-bottom: 25px; /* Espacio adicional hacia abajo */
}


.botoncon {
    display: flex;
    justify-content: center;
}


.botonser {
    justify-content: center;
    background-color: #7cccf4; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 100px; /* Ancho del botón */
    height: 43px; /* Altura del botón */

    color: black;
}

.gratis {
    text-align: center; /* Alineación del texto al centro */
    padding: 5px; /* Ajuste del relleno */
    outline: 1px solid #0e8eb5; /* Contorno sólido */
    display: inline-block; /* Mostrar como bloque en línea */
    width: 250px; /* Ancho del elemento */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 30px;
    
}

@media screen and (max-width: 767px) {
    .gratis {
        text-align: center; /* Alineación del texto al centro */
        padding: 5px; /* Ajuste del relleno */
        outline: 1px solid #0e8eb5; /* Contorno sólido */
        display: inline-block; /* Mostrar como bloque en línea */
        width: 150px; /* Ancho del elemento */
        border-radius: 10px; /* Bordes redondeados */
        font-size: 20px;
    }
    .contenedorservi {
        border-radius: 50px 0 0 0; /* Redondea solo la esquina inferior derecha */
        padding-top: 20px; /* Espacio adicional arriba */
        padding-right: 0px; /* Espacio adicional a la derecha */
        padding-bottom: 20px; /* Espacio adicional hacia abajo */
        padding-left: 0px; /* Espacio adicional a la izquierda */
        color: black;
        width: 100%; /* Ahora el ancho del cuadro se ajustará automáticamente */
        margin-bottom: 20px; /* Espacio entre cuadros */
        transition: margin-right 0.5s; /* Transición suave del margen derecho */
        font-size: 15px;
    }

}

/* Estilos para la sección de Planes y Servicios */


.privacidad {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
    margin-right: 5px;
    height: 60px;
    color: ivory;
}


/* Estilos para el contenedor del loader */
#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el loader */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Ocultar contenido principal */
.hidden {
    display: none;
}

.titulo7{
    font-weight: bold;
}

.fondo_T1{
    font-weight: bold;
}